body {
  font-family: sans-serif;
  font-weight: 200;
  background-color: rgb(240, 241, 247);
}
.hero {
  height: 80vh;
  background-image: url(/img/portada.jpeg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  padding-top: 30px;
  position: relative;
  margin-bottom: 30px;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 5.5em;
  color: #fff;
  border: 4px solid #fff;
  text-align: center;
}
h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 2em;
  color: #fff;
  padding-left: 38%;
}

.title-div {
  padding-top: 150px;
  padding-left: 20%;
  padding-right: 20%;
}
h4{
  font-size: 500%;
  margin-top: 15px;
  font-family: Gill Sans, sans-serif	;
}
h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h6 {
  font-size: 3.5em;
  margin-bottom: 30px;
  text-align: center;
}
.front-img{
  background-size: cover;
  width: 100%;
}
.navbar {
  color: white;
}

.logo{
  margin-right: 10px;
  font-size: 100vw;
  margin-left: 10px;
}

.detail-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 25px;
  
}

.btn-create{
margin-top: 10px;
}

#error{
  color: red;
  padding-left: 20px;
}
.info-img{
  width: 100%;
 align-items: center;
 border-radius: 3%;
}

#placesMap{
  height: 60vh;
  margin: 0;
}

.beacheando-gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 7px;
  padding: 0;
}
.weather{
  margin-top: 30px;
  margin-left: 80%;
  border-bottom: 2px solid #0091ff;
  padding-bottom: 0
}

.weather-info p {
  padding-bottom: 0;
}


.weather figure{
    text-transform: capitalize;
    padding-right: 5px;
    font-weight: 400;
}
.weather-info{
margin-top: 5px;
padding: 0 15px;
font-weight: 400;

}

.palmera{
  width: 100px;
  margin-right: 20px;
}

.chincheta{
  width: 25px;
}
.dedo {
  width: 25px;
  margin-right: 5px;
}
.logo-show{
width: 17vw;
margin-left: 10px;
margin-top: 10px;
}

.main {
  margin: 0;
}
#description{
  height: 50px;
}
.logo-form {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer{
  margin-top: 20px;
  width:100%;

}
.caption{
  font-weight: 400;
  margin-top: 20px;
}

.map-section {
  margin-top: 20px;
}
.btn-comment{
  margin-top: 20px;
}

.list{
  list-style: none;
  margin-left: 4px;
  
}
.comment-name{
  margin-bottom: 0;
}