<div class="container">

    <div class="row">  
        <section>
            <h1>Beacheando</h1>
        </section>
    </div>

    

    <div class="row">
        <section>

            <div class="col-md-8">

            </div>
            <div class="col-md-4">
            
            </div>

        </section>
    </div>

    <footer>

    </footer>

</div>