<div>
    <img class="front-img" src="/img/portada.jpeg" alt="playa paradisíaca">
    <h1 class="title">Beacheando</h1>
</div>

<div>
    <section>

        <div class="col-md-8">

        </div>
        <div class="col-md-4">

        </div>

    </section>
</div>

<footer>

</footer>