<div>
    <img class="front-img" src="/img/portada.jpeg" alt="playa paradisíaca">
    <h1 class="title">Beacheando</h1>
</div>

<h1>Galeria de imagenes</h1>
<hr>

<div class="beacheando-gallery">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {{#each allImages}}
            <figure class="glide__slide">
                <img src="{{image}}" alt="{{name}}">
            </figure>
            {{/each}}
        </ul>
    </div>
</div>

<footer>
</footer>

</div>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="/js/slideshow.js"></script>