<section class="hero">
    <div class="title-div">
        <h1 class="title">Beacheando</h1>
    </div>
    <div>
        <h2>Beachea la playa de tus sueños</h2>
    </div>
</section>

<section>
    <div class=" row beacheando-gallery">
        <div class="col-md-12">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {{#each allImages}}
                    <figure class="glide__slide">
                        <img src="{{image}}" alt="{{name}}">
                    </figure>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>




<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="/js/slideshow.js"></script>