<img class="front-img" src="/img/portada.jpeg" alt="playa paradisíaca">
<h1 class="title">Beacheando</h1>

<div class="container">
    <div class="row sign">
        <div class="col-md-6 d-flex justify-content-around">
            <a class="btn btn-outline-info" href="/user/inicio-sesion">Inicia sesión</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-outline-info" href="#">Envíanos tu playa favorita</a>
        </div>
    </div>
    <div class=" row beacheando-gallery">
        <div class="col-md-12">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {{#each allImages}}
                    <figure class="glide__slide">
                        <img src="{{image}}" alt="{{name}}">
                    </figure>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="/js/slideshow.js"></script>